<%- include('../partials/header.ejs')%>
    <main>
        <div id="connections">
            <h2><%= event.title%></h2>
            <br>
            <img src="<%= event.image%>" class="eventLogo" alt="Event Logo">
            <br>
            <p>Host: <%= event.host%></p>
            <p>Date: <%= event.date%></p>
            <p>Start Time: <%= event.start%> UTC</p>
            <p>End Time: <%= event.end%> UTC</p>
            <br>
            <p><%= event.location%></p>
            <br>
            <h3>Details</h3>
            <br>
            <p><%= event.description%></p> 
            <br>
            <form>
                <button type="submit" formmethod = "GET" formaction="/connections/<%= event.id%>/edit">Edit</button>
                <button type="submit" formmethod = "POST" formaction = "/connections/<%= event.id%>?_method=DELETE">Delete</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>