<%- include('../partials/header.ejs')%>
    <main>
        <div id="connections">
            <h2><%= event.title%></h2>
            <br>
            <img src="<%= event.image%>" class="eventLogo" alt="Event Logo">
            <br>
            <p>Host: <%= event.host.firstName%> <%= event.host.lastName%></p>
            <p>Date: <%= event.date%></p>
            <p>Start Time: <%= event.start%> UTC</p>
            <p>End Time: <%= event.end%> UTC</p>
            <br>
            <p><%= event.location%></p>
            <br>
            <h3>Details</h3>
            <br>
            <p><%= event.description%></p> 
            <br>
            
            <br>
            <%if(user == event.host._id) {%>
            <form>
                <button type="submit" formmethod = "GET" formaction="/connections/<%= event.id%>/edit">Edit</button>
                <button type="submit" formmethod = "POST" formaction = "/connections/<%= event.id%>?_method=DELETE">Delete</button>
            </form>
            <%} else {%>
                <div class="rsvp">
                    <form action="/connections/<%= event.id%>/rsvp" method="post">
                        <p>RSVP to attend</p><br>
                        <button type="submit" name="response" value="y">Yes</button>
                        <button type="submit" name="response" value="n">No</button>
                        <button type="submit" name="response" value="m">Maybe</button>
                    </form>
                </div>   
            <%}%>
            <br>
            <p>Current RSVPs: <%= rsvps%></p> 
        </div>
    </main>
    <%- include('../partials/footer.ejs')%>